<% layout('/layouts/boilerplate') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Clone Post</title>
    <style>
        /* Basic CSS styling for the carousel */
        .carousel-container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
            margin-top: 3px;
            margin-bottom:20px;
            border:1px solid rgb(56, 53, 53);
        }

        .carousel {
            display: flex;
            overflow: hidden;
            border: 2px solid #e3d7d7;
        }

        .carousel img {
            width: 100%;
            height: auto;
        }

        .carousel-footer {
            background-color: #f5f5f5;
            padding: 3px;
        }

        .carousel-header {
            background-color: #f5f5f5;
            padding: 0px;
        }




    </style>
</head>
<body>
  <% if(post.length>0) {%>
    <% post.forEach(post => { %>
    <div class="carousel-container">
        <div class="carousel-header"><h1><%=post.title %></h1></div>
        <% post.images.forEach(image => { %>

        <div class="carousel">
            <img src="<%= image.url %>" alt="<%= image.filename %>">
        </div>
        <% }); %>

        <div class="carousel-footer">
          <button><a href="/r/comments/<%=post._id%>/createcomment">Leave A Comment</a></button>
          <a href="/r/<%=post._id%>/showcomments">See comments</a>
         <a href="/r/rendershowpage/<%=post.community%>">View Community Posts</a>
        </div>
    </div>
    <% }); %>
    <% } %>
</body>




















